<h1><%= @player_1_name.capitalize %> vs <%=@player_2_name.capitalize %></h1>
<img src="https://i.imgur.com/AXpEUDs.jpeg" width="200" height=auto /><img src="https://i.imgur.com/ha3Uo28.jpeg" width="200" height=auto/>
